/* fondo de la primer pantalla, el aceite */
body {
                background-image: url('IMG/imj.jpeg'); /* o una imagen local */
                background-color: #000;
                background-size: contain;
                background-position: top center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
/* titulos Bienvenida */
h1 {
    color: rgb(254, 254, 254);
    text-align: right;
}
h2{color: rgb(254, 254, 254);
        text-align: left;}

/* Titulos desplegables  */
label {color: rgb(255, 255, 255);
        font-size: larger;
        font-style: oblique;
}
/* Titulos resultados*/
p {     width: fit-content; 
        max-width: max-content;
        color: blanchedalmond;
}   